In [30]:
import math
import pandas as pd

uc = [0, 1/6, 1/4, 1/3, 1/2, 2/3, 3/4, 5/6, 1, 7/6, 5/4, 4/3, 3/2, 5/3, 7/4, 11/6]

sin = [ round(math.sin(math.pi * a),1) for a in uc ]

cos = [ round(math.cos(math.pi * a),1) for a in uc ]

sindf = pd.DataFrame({'Unit Circle Sin': uc, 'Sin': sin})

cosdf = pd.DataFrame({'Unit Circle Cos': uc, 'Cos': cos})

combined = sindf.merge(cosdf, left_on='Sin', right_on='Cos')

# all the times the values of sin and cos are the same
combined

    Unit Circle Sin  Sin  Unit Circle Cos  Cos
0          0.000000  0.0         0.500000  0.0
1          0.000000  0.0         1.500000 -0.0
2          1.000000  0.0         0.500000  0.0
3          1.000000  0.0         1.500000 -0.0
4          0.166667  0.5         0.333333  0.5
5          0.166667  0.5         1.666667  0.5
6          0.833333  0.5         0.333333  0.5
7          0.833333  0.5         1.666667  0.5
8          0.250000  0.7         0.250000  0.7
9          0.250000  0.7         1.750000  0.7
10         0.750000  0.7         0.250000  0.7
11         0.750000  0.7         1.750000  0.7
12         0.333333  0.9         0.166667  0.9
13         0.333333  0.9         1.833333  0.9
14         0.666667  0.9         0.166667  0.9
15         0.666667  0.9         1.833333  0.9
16         0.500000  1.0         0.000000  1.0
17         1.166667 -0.5         0.666667 -0.5
18         1.166667 -0.5         1.333333 -0.5
19         1.833333 -0.5         0.666667 -0.5
20         1.833333 -0.5         1.333333 -0.5
21         1.250000 -0.7         0.750000 -0.7
22         1.250000 -0.7         1.250000 -0.7
23         1.750000 -0.7         0.750000 -0.7
24         1.750000 -0.7         1.250000 -0.7
25         1.333333 -0.9         0.833333 -0.9
26         1.333333 -0.9         1.166667 -0.9
27         1.666667 -0.9         0.833333 -0.9
28         1.666667 -0.9         1.166667 -0.9
29         1.500000 -1.0         1.000000 -1.0

In [31]:
# all the times that the sin unit circle and the cos unit circle align
combined[combined['Unit Circle Sin'] == combined['Unit Circle Cos']]

    Unit Circle Sin  Sin  Unit Circle Cos  Cos
8              0.25  0.7             0.25  0.7
22             1.25 -0.7             1.25 -0.7