In [1]:
import pandas as pd

df = pd.DataFrame({
'City': ['Tokyo', 'Delhi', 'Shanghai', 'Sao Paulo', 'Mumbai'],
'Country': ['Japan', 'India', 'China', 'Brazil', 'India'],
'Mean Temp': [59.7, 77.2, 62.7, 66.6, 81.4]})

df

        City Country  Mean Temp
0      Tokyo   Japan       59.7
1      Delhi   India       77.2
2   Shanghai   China       62.7
3  Sao Paulo  Brazil       66.6
4     Mumbai   India       81.4

In [10]:
print('Please input the perfect temperature for you:')
userideal = input()

Please input the perfect temperature for you:
70

In [21]:
high = float(userideal) + 5
low = float(userideal) - 5

df['Preference'] = pd.cut(df['Mean Temp'], [0, low, high, 100], labels=["too cold", "just right", "too hot"])

df

        City Country  Mean Temp     feeling  Preference
0      Tokyo   Japan       59.7    too cold    too cold
1      Delhi   India       77.2     too hot     too hot
2   Shanghai   China       62.7    too cold    too cold
3  Sao Paulo  Brazil       66.6  just right  just right
4     Mumbai   India       81.4     too hot     too hot