In [1]:
import pandas as pd
from datetime import datetime

In [2]:

sample00 = {'time': datetime(2018, 1, 1, 10, 1, 1), 'rpm': 1000}
sample01 = {'time': datetime(2018, 1, 1, 10, 1, 2), 'rpm': 2000}
sample02 = {'time': datetime(2018, 1, 1, 10, 1, 5), 'rpm': 5000}
sample03 = {'time': datetime(2018, 1, 1, 10, 1, 6), 'rpm': 6000}
sample04 = {'time': datetime(2018, 1, 1, 10, 1, 7), 'rpm': 7000}

df = pd.DataFrame([sample00, sample01, sample02, sample03, sample04])

In [3]:
df

    rpm                time
0  1000 2018-01-01 10:01:01
1  2000 2018-01-01 10:01:02
2  5000 2018-01-01 10:01:05
3  6000 2018-01-01 10:01:06
4  7000 2018-01-01 10:01:07

In [4]:
df.info() # notice how it is a datetime64[ns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 2 columns):
rpm     5 non-null int64
time    5 non-null datetime64[ns]
dtypes: datetime64[ns](1), int64(1)
memory usage: 160.0 bytes

In [5]:
df = df.set_index('time') # we can't resample without the index being the time-series

In [6]:
df_resampled = df.resample('1S').asfreq() # asfreq returns the re-indexed results
df_resampled

                        rpm
time
2018-01-01 10:01:01  1000.0
2018-01-01 10:01:02  2000.0
2018-01-01 10:01:03     NaN
2018-01-01 10:01:04     NaN
2018-01-01 10:01:05  5000.0
2018-01-01 10:01:06  6000.0
2018-01-01 10:01:07  7000.0

In [7]:
df_resampled.interpolate() # interpolate helps us fill in values

                        rpm
time
2018-01-01 10:01:01  1000.0
2018-01-01 10:01:02  2000.0
2018-01-01 10:01:03  3000.0
2018-01-01 10:01:04  4000.0
2018-01-01 10:01:05  5000.0
2018-01-01 10:01:06  6000.0
2018-01-01 10:01:07  7000.0