In [1]:
import pandas as pd

In [2]:
letterlist = [ { 'letter': 'a', 'id':1 }, { 'letter':'b', 'id':2 }, { 'letter':'c','id':3 } ]

In [3]:
# add 40 to the id
def modifyid(row):
    
    return pd.Series({'letter': row['letter'], 
                      'id': int(row['id']) + 40})

In [4]:
# create a new column converting the letter column into morse code
def converttomorse(row):
    
    morsedict = {'a': '. _',
                 'b': '_ . . .',
                 'c': '_ . _ .'}
    
    return pd.Series({'letter': row['letter'], 
                      'id': row['id'], 
                      'morse': morsedict[ row['letter'] ] } )

In [5]:
# load the dataframe
lldf = pd.DataFrame(letterlist)

lldf

   id letter
0   1      a
1   2      b
2   3      c

In [6]:
# first add 30 to id
lldf = lldf.apply(modifyid, axis=1)

lldf

  letter  id
0      a  41
1      b  42
2      c  43

In [7]:
# then convert letter into morse code
lldf = lldf.apply(converttomorse, axis=1)

lldf

  letter  id    morse
0      a  41      . _
1      b  42  _ . . .
2      c  43  _ . _ .