In [1]:
import pandas as pd

In [2]:
def createdictforpowerof(n):
    notation = '2^' + str(n)
    value = 2**n
    return ( {'2^n notation': notation, 'value': value } )

In [3]:
listofdicts = []

for i in range(0,13):
    listofdicts.append(createdictforpowerof(i))

In [4]:
listofdicts

[{'2^n notation': '2^0', 'value': 1},
 {'2^n notation': '2^1', 'value': 2},
 {'2^n notation': '2^2', 'value': 4},
 {'2^n notation': '2^3', 'value': 8},
 {'2^n notation': '2^4', 'value': 16},
 {'2^n notation': '2^5', 'value': 32},
 {'2^n notation': '2^6', 'value': 64},
 {'2^n notation': '2^7', 'value': 128},
 {'2^n notation': '2^8', 'value': 256},
 {'2^n notation': '2^9', 'value': 512},
 {'2^n notation': '2^10', 'value': 1024},
 {'2^n notation': '2^11', 'value': 2048},
 {'2^n notation': '2^12', 'value': 4096}]

In [6]:
df = pd.DataFrame(listofdicts)

df

   2^n notation  value
0           2^0      1
1           2^1      2
2           2^2      4
3           2^3      8
4           2^4     16
5           2^5     32
6           2^6     64
7           2^7    128
8           2^8    256
9           2^9    512
10         2^10   1024
11         2^11   2048
12         2^12   4096